<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-descrip-rutas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo-1.ico">
    <title>Metro Bogotá</title>
</head>

<body>
    <div class="banner-sup">
        <marquee direction="left"><h3>Alcaldia Mayor de Bogotá</h3></marquee>
    </div>

    <header>
        <section class="main-superior">
            <div class="logos">
                <img src="img/logo-1.webp" class="logo-1" alt="Logo">
                <img src="img/logo-2.webp" class="logo-2" alt="Logo">
            </div>

            <nav class="menu-sup">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="https://www.eltiempo.com/" target="_blank">Noticias</a></li>
                    <li><a href="https://www.computrabajo.com/" target="_blank">Trabaja con nosotros</a></li>
                </ul>
            </nav>

            <div>
                <form action="">
                    <input type="search" placeholder="Buscar" name="Buscar" id="Buscar" class="bar-buscar">
                </form>
            </div>

            <div class="logo-bogota">
                <img src="img/bogota.webp" alt="logo-bogota">
            </div>
        </section>

        <div class="contenedor-banner">
            <div class="slider-box">
                <ul>
                    <li><img src="img/banner-2.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-3.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-4.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-5.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-6.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/Banner.webp" alt="Imagen publicitaria" class="banner"></li>
                </ul>
            </div>
        </div>
        
    </header>

    <main>
        <section class="contenedor-main">
            <article class="caja-izq">

                <p class="titulo-menu">VIAJA CON NOSOTROS</p>
            
                <a href="/descripcion-rutas">
                    <div>
                        <p>Descripción de rutas</p>
                    </div>
                </a>

                <hr>

                <a href="/rutas-metrocable">
                    <div>
                        <p>Rutas metrocables</p>
                    </div>
                </a>
    
                <hr>

                <a href="/rutas-metro">
                    <div>
                        <p>Rutas del metro</p>
                    </div>
                </a>

                <hr>

                <a href="/horarios">
                    <div>
                        <p>Horarios de las rutas</p>
                    </div>
                </a>

                <hr>
                
                <a href="/estaciones">
                    <div>
                        <p>Estaciones</p>
                    </div>
                </a>

                <hr>

                <a href="/mapa">
                    <div>
                        <p>Mapa del Sistema</p>
                    </div>
                </a>

                <hr>

                <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank">
                    <div>
                        <p>Quiénes somos</p>
                    </div>
                </a>

                <hr>  
            </article>

            <article class="caja-der">
                <div class="titulo">
                    <h2>Descripción de rutas</h2>
                </div>
            
                <hr>

                <div>
                    <div class="linea-1">
                        <h3>Linea 1 <strong>Metro</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>La línea 1 del Metro de Bogotá, denominada de manera oficial y técnica Primera Línea 
                        del Metro de Bogotá será la primera línea del sistema de metro de la ciudad de Bogotá, 
                        capital de Colombia. Tendrá 19 estaciones distribuidas en 24 km de viaducto que transcurre 
                        a través de ocho localidades. Se ubicará sobre la Av.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-2">
                        <h3>Linea 2 <strong>Metro</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>Sumérgete en la energía vibrante de Bogotá con la Línea Esmeralda. Esta línea conecta los distritos 
                        culturales y financieros, ofreciendo una travesía rápida desde el centro histórico de La Candelaria hasta 
                        los modernos rascacielos de la Zona T. Descubre la diversidad de la ciudad mientras atraviesas barrios eclécticos 
                        y disfrutas de vistas panorámicas desde la estación Mirador Andino.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-3">
                        <h3>Linea 3 <strong>Metro</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>La Línea Aurora ilumina la movilidad en Bogotá, conectando el innovador sector de Usaquén con el corazón tecnológico de 
                        Ciudad Salitre. Viaja en un entorno futurista con estaciones inspiradas en la tecnología y la sostenibilidad. Desde la estación 
                        BioParque, sumérgete en una experiencia verde al acceder directamente al pulmón ambiental de la ciudad, el Parque Metropolitano.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-4">
                        <h3>Portal Tunal <strong>Metrocable</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>Embárcate en un viaje único sobre los cielos de Bogotá con el TransMiCable Tunal Express. Esta maravilla de la ingeniería conecta 
                        el bullicioso sector del Tunal con las colinas circundantes, ofreciendo un panorama espectacular de la ciudad. Las modernas góndolas, 
                        suspendidas entre pilares futuristas, te llevan en un trayecto fluido y eficiente, eliminando las barreras topográficas y acortando los 
                        tiempos de viaje. Desde la estación Altura Andina, disfruta de vistas impresionantes del skyline bogotano mientras te desplazas con 
                        elegancia por encima de la urbe.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-5">
                        <h3>Portal San Cristobal Sur <strong>Metrocable</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>Ingresa al Portal San Cristóbal Sur y descubre el corazón vibrante del sur de Bogotá. 
                        Este nodo de conexión no solo es el punto de partida para tu viaje, sino también un epicentro 
                        de la cultura local. Sumérgete en la energía de la Plaza del Folklore, donde artistas callejeros 
                        y vendedores locales dan vida a este bullicioso centro. Las líneas de buses esperan para llevarte 
                        a diversas partes de la ciudad, ofreciéndote una entrada única a las maravillas del sur bogotano.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-6">
                        <h3>Portal Juan Rey <strong>Metrocable</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>El Portal Juan Rey te da la bienvenida a un oasis de modernidad en Bogotá. Con su arquitectura vanguardista 
                        y tecnología de punta, este portal es más que un simple punto de tránsito: es un destino en sí mismo. Explora 
                        las boutiques y cafeterías en sus alrededores, o súbete a tu autobús con estilo desde las plataformas de diseño 
                        futurista. Este portal redefine la experiencia de viaje y marca el comienzo de tu jornada urbana con elegancia.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-7">
                        <h3>Portal San Antonio Norte <strong>Metrocable</strong></h3>
                    </div>

                    <div class="descripciones">
                        <p>Adéntrate en la serenidad del norte bogotano a través del Portal San Antonio Norte. Este punto de partida te invita 
                        a explorar la belleza de los parques y avenidas arboladas que caracterizan la región. Las estaciones de espera son oasis de 
                        tranquilidad, donde puedes planificar tu viaje mientras disfrutas de jardines bien cuidados. Con su diseño integrado en el 
                        entorno natural, el Portal San Antonio Norte es el punto de conexión perfecto entre la ciudad y la calma del norte.</p>
                    </div>
                </div>

                <div>
                    <div class="linea-8">
                        <h3>Tren de la Sabana</h3>
                    </div>

                    <div class="descripciones">
                        <p>Embarca en un viaje lleno de encanto a bordo del Tren de la Sabana de Bogotá. Este ferrocarril te transporta a través de 
                        paisajes pintorescos y pintorescos pueblos, brindándote una experiencia única de conexión con la belleza natural de la Sabana. 
                        Desde la comodidad de los vagones, contempla las majestuosas montañas y los campos verdes que se extienden hasta donde alcanza 
                        la vista. Las estaciones a lo largo del trayecto son más que simples paradas; son puertas de entrada a la historia, la cultura y 
                        la tradición de la región. Viaja con estilo mientras el Tren de la Sabana de Bogotá te lleva a un viaje inolvidable entre la ciudad 
                        y la serenidad campestre.</p>
                    </div>
                </div>

            </article>
        </section>
    </main>

    <footer>
        <section>
            <article class="footer-article">
                <article class="texto-footer">
                    <p>METRO DE BOGOTÁ</p>
                    <p>Ciudad: Bogotá - Colombia</p>
                    <p>Código postal: 110221</p>
                    <p>Línea Anticorrupción: 195 Opción 1</p>
                    <p>Horario de atención: lunes a viernes 8:00am - 5:30pm</p>
                    <p><strong>Atención al Usuario</strong></p>
                </article>

                <article class="social">
                    <div class="social-div">
                        <a href="https://twitter.com/" target="_blank"><img src="img/boton-pagina-red-twt.webp" alt="twiter"></a>
                        <a href="https://youtube.com/" target="_blank"><img src="img/boton-pagina-red-yt.webp" alt="youtube"></a>
                        <a href="https://facebook.com/" target="_blank"><img src="img/icono-face.webp" alt="facebook"></a>
                        <a href="https://instagram.com/" target="_blank"><img src="img/icono-instagram.webp" alt="instagram"></a>
                        <a href="https://linkedin.com/" target="_blank"><img src="img/logo-linkedin.webp" alt="linkedin"></a>
                    </div>
                </article>

                <article class="img-gov">
                    <img src="img/gov.webp">
                </article>
                
            </article>

            <article class="copyright">
                <p>Terminos y condiciones</p>
                <p>Politicas de uso</p>
                <p>Copyright ©</p>
            </article>
        </section>
    </footer>
</body>
</html>