<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-estaciones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Metro Bogotá</title>
</head>


<body>
    <div class="banner-sup">
        <marquee direction="left"><h3>Alcaldia Mayor de Bogotá</h3></marquee>
    </div>

    <header>
        <section class="main-superior">
            <div class="logos">
                <img src="img/logo-1.png" class="logo" alt="Logo">
                <img src="img/logo-2.png" class="logo" alt="Logo">
            </div>

            <nav class="menu-sup">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="https://www.eltiempo.com/" target="_blank">Noticias</a></li>
                    <li><a href="https://www.computrabajo.com/" target="_blank">Trabaja con nosotros</a></li>
                </ul>
            </nav>

            <div>
                <form action="">
                    <input type="text" placeholder="Buscar" class="bar-buscar">
                </form>
            </div>

            <div>
                <img src="img/bogota.png" alt="logo-bogota">
            </div>
        </section>

        <div class="contenedor-banner">
            <img src="img/Banner.jpg" alt="Imagen publicitaria" class="banner">
        </div>
        
    </header>

    <main>
        <section class="contenedor-main">
            <article class="caja-izq">

                <p class="titulo-menu">VIAJA CON NOSOTROS</p>
            
                <a href="/descripcion-rutas">
                    <div>
                        <p>Descripción de rutas</p>
                    </div>
                </a>

                <hr>

                <a href="/rutas-metrocable">
                    <div>
                        <p>Rutas metrocables</p>
                    </div>
                </a>
    
                <hr>

                <a href="/rutas-metro">
                    <div>
                        <p>Rutas del metro</p>
                    </div>
                </a>

                <hr>

                <a href="/horarios">
                    <div>
                        <p>Horarios de las rutas</p>
                    </div>
                </a>

                <hr>
                
                <a href="/estaciones">
                    <div>
                        <p>Estaciones</p>
                    </div>
                </a>

                <hr>

                <a href="/mapa">
                    <div>
                        <p>Mapa del Sistema</p>
                    </div>
                </a>

                <hr>

                <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank">
                    <div>
                        <p>Quiénes somos</p>
                    </div>
                </a>

                <hr>  

            </article>

            <article class="caja-der">
                <div class="titulo">
                    <h2>Estaciones</h2>
                </div>
                
                <hr>

                <div>
                    <div class="linea-1">
                        <h3>Linea 1 <strong>Metro</strong></h3>
                    </div>

                    <div class="descripciones">
                        <ul>
                            <li><strong>Estación Central</strong> Situada en el corazón de la ciudad, la Estación Central es el punto de conexión principal 
                            con otras formas de transporte. Su diseño moderno refleja la importancia histórica y cultural de Bogotá.</li>

                            <li><strong>Estación Montaña Azul</strong> Rodeada de colinas y naturaleza, Montaña Azul es la estación ideal para los amantes del aire libre. 
                            Su diseño incluye elementos ecológicos y ofrece acceso a rutas de senderismo cercanas.</li>

                            <li><strong>Estación Innovación Tecnológica</strong> Esta estación se encuentra en el distrito tecnológico, sirviendo como un 
                            hub para empresas innovadoras y startups. La arquitectura vanguardista refleja la visión futurista de la ciudad.</li>

                            <li><strong>Estación Arte Urbano</strong> Un tributo al arte urbano, esta estación exhibe murales y esculturas contemporáneas. 
                            Artistas locales contribuyen regularmente, convirtiendo la estación en una galería en constante evolución.

                            <li><strong>Estación Sabores Locales</strong> Ubicada en un bullicioso mercado, esta estación celebra la rica diversidad 
                            culinaria de Bogotá. Los pasajeros pueden disfrutar de delicias locales antes de abordar o al bajar del tren.</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="linea-2">
                        <h3>Linea 2 <strong>Metro</strong></h3>
                    </div>

                    <div class="descripciones">
                        <ul>
                            <li><strong>Estación Biblioteca del Conocimiento</strong> Un centro de aprendizaje en movimiento, esta estación cuenta con una biblioteca en la plataforma. 
                            Los viajeros pueden tomar prestados libros digitales durante su viaje.</li>

                            <li><strong>Estación Parque de las Flores</strong> Rodeada de jardines y áreas verdes, esta estación es un remanso de tranquilidad en medio del ajetreo urbano. 
                            Cuenta con espacios para eventos comunitarios y actividades al aire libre.</li>

                            <li><strong>Estación Conexión Empresarial</strong> Estratégicamente ubicada cerca de distritos empresariales, esta estación facilita la conexión rápida entre 
                            centros financieros y corporativos, fomentando la eficiencia en los negocios.</li>

                            <li><strong>Estación Ciudad Deportiva</strong> Situada cerca de instalaciones deportivas de primer nivel, esta estación es un punto de encuentro para los aficionados 
                            y atletas. Exhibe logros deportivos locales y promueve un estilo de vida activo.</li>

                            <li><strong>Estación Plaza del Entretenimiento</strong> Con teatros, cines y locales de entretenimiento, esta estación es el epicentro cultural de la ciudad. 
                            Su diseño arquitectónico refleja la vibrante vida nocturna y las artes escénicas.</li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="linea-3">
                        <h3>Linea 3 <strong>Metro</strong></h3>
                    </div>

                    <div class="descripciones">
                        <ul>
                            <li><strong>Estación Ecosistema Científico</strong> En esta estación, los pasajeros pueden explorar exhibiciones interactivas sobre ciencia y tecnología. 
                            Colaboraciones con instituciones educativas locales ofrecen oportunidades de aprendizaje continuo.</li>

                            <li><strong>Estación Barrio Histórico</strong> Rodeada de arquitectura colonial y calles empedradas, esta estación sirve como puerta de entrada a los 
                            encantadores barrios históricos de Bogotá. Ofrece visitas guiadas y eventos culturales.</li>

                            <li><strong>Estación Conexión Verde</strong> Diseñada como un oasis verde, esta estación incorpora elementos de jardines verticales y techos verdes. 
                            Es un recordatorio visual del compromiso de la ciudad con la sostenibilidad.</li>

                            <li><strong>Estación Tecnología de Punta</strong>  Fomentando la innovación, esta estación está dedicada a exhibir avances tecnológicos emergentes. 
                            Cuenta con showcases y espacios para demostraciones de nuevas tecnologías.</li>
                        </ul>
                    </div>
                </div>

                
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article class="footer-article">
                <article>
                    <p>EMPRESA METRO DE BOGOTÁ S.A. </p>
                    <p>Ciudad: Bogotá - Colombia</p>
                    <p>Código postal: 110221</p>
                    <p>Línea Anticorrupción: 195 Opción 1</p>
                    <p>Horario de atención: lunes a viernes 8:00am - 5:30pm</p>
                    <p><strong>Atención al Usuario</strong></p>
                </article>

                <article class="social">
                    <img src="img/boton-pagina-red-twt.png" alt="twiter">
                    <img src="img/boton-pagina-red-yt.png" alt="youtube">
                    <img src="img/icono-face.png" alt="facebook">
                    <img src="img/icono-instagram.png" alt="instagram">
                    <img src="img/logo-linkedin.png" alt="linkedin">
                </article>

                <article>
                    <img src="img/gov.png">
                </article>
                
            </article>

            <article class="copyright">
                <p>Terminos y condiciones</p>
                <p>Politicas de uso</p>
                <p>Copyright ©</p>
            </article>
        </section>
    </footer>
</body>
</html>