<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Metro Bogotá</title>
</head>


<body>
    <div class="banner-sup">
        <marquee direction="left"><h3>Alcaldia Mayor de Bogotá</h3></marquee>
    </div>

    <header>
        <section class="main-superior">
            <div class="logos">
                <img src="img/logo-1.png" class="logo" alt="Logo">
                <img src="img/logo-2.png" class="logo" alt="Logo">
            </div>

            <nav class="menu-sup">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="https://www.eltiempo.com/" target="_blank">Noticias</a></li>
                    <li><a href="https://www.computrabajo.com/" target="_blank">Trabaja con nosotros</a></li>
                </ul>
            </nav>

            <div>
                <form action="">
                    <input type="text" placeholder="Buscar" class="bar-buscar">
                </form>
            </div>

            <div>
                <img src="img/bogota.png" alt="logo-bogota">
            </div>
        </section>

        <div class="contenedor-banner">
            <img src="img/Banner.jpg" alt="Imagen publicitaria" class="banner">
        </div>
        
    </header>

    <main>
        <section class="contenedor-main">
            <article class="caja-izq">
                <article class="menu">
                    <p class="titulo-menu">VIAJA CON NOSOTROS</p>

                    <a href="/descripcion-rutas">
                        <div>
                            <p>Descripción de rutas</p>
                        </div>
                    </a>
    
                    <hr>
    
                    <a href="/rutas-metrocable">
                        <div>
                            <p>Rutas metrocables</p>
                        </div>
                    </a>
        
                    <hr>
    
                    <a href="/rutas-metro">
                        <div>
                            <p>Rutas del metro</p>
                        </div>
                    </a>
    
                    <hr>
    
                    <a href="/horarios">
                        <div>
                            <p>Horarios de las rutas</p>
                        </div>
                    </a>

                    <hr>
                    
                    <a href="/estaciones">
                        <div>
                            <p>Estaciones</p>
                        </div>
                    </a>

                    <hr>

                    <a href="/mapa">
                        <div>
                            <p>Mapa del Sistema</p>
                        </div>
                    </a>

                    <hr>

                    <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank">
                        <div>
                            <p>Quiénes somos</p>
                        </div>
                    </a>

                    <hr>  
                </article>

                <article class="aviso-legal">
                    <p class="titulo-menu">AVISO LEGAL</p>

                    <p>Este sitio web es una iniciativa independiente creada por un estudiante de la Universidad Distrital Francisco José de Caldas. 
                    No tiene afiliación oficial con la empresa privada mencionada o su propiedad intelectual. Cualquier referencia 
                    a nombres comerciales, marcas registradas u otras obras protegidas por derechos de autor es puramente con fines 
                    ilustrativos y de inspiración. Se reconoce y respeta el trabajo de la empresa privada y se hace hincapié en que 
                    este proyecto se lleva a cabo con fines educativos y creativos.
                    <br><br>
                    Si hay inquietudes legítimas respecto a derechos de propiedad intelectual o cualquier otro problema, por favor contáctenos 
                    directamente a través de snavarrop@udistrital.edu.co para abordar cualquier problema de manera oportuna 
                    y adecuada.
                    <br><br>
                    Agradecemos la comprensión y apoyo de la comunidad universitaria en este proyecto.</p>
                </article>
            </article>

            <article class="caja-der">
                <div class="titulo">
                    <h2>¡Viaja con nosotros y disfruta el Metro de Bogotá!</h2>
                </div>
                
                <hr>

                <div class="contenedor-img-public">
                    <img src="img/metro.jpg" class="img-publicitaria">
                </div>

                <div>
                    <p>El Metro de Bogotá es un proyecto de transporte masivo que busca mejorar la movilidad 
                    de la ciudad de Bogotá. La construcción del Metro de Bogotá ha sido objetivo de debates 
                    y estudios desde 1949 cuando el alcalde Fernando Mazuera enterró los rieles del tranvía 
                    y acabó con ese medio de transporte.​​</p><br>
                </div>
                
                <h2>Características</h2>

                <div class="caracteristicas">
                    <div>
                        <p>Los trenes serán 100 % eléctricos, tendrán 148 metros de longitud, 6 vagones, 
                        tendrán una velocidad de 41km / hora y transportarán 64.800 pasajeros hora / sentido.</p>
                        
                        <div class="contenedor-img-public">
                            <img src="img/trenes.jpg" class="img-publicitaria">
                        </div>
                    </div>
                    
                    <div>
                        <p>La bicicleta será un factor fundamental en el Metro de Bogotá, por eso la primera línea contará con 
                        19 kilómetros de cicloruta y 9.750 cupos para bicicletas.</p>

                        <div class="contenedor-img-public">
                            <img src="img/bici.jpg" class="img-publicitaria">
                        </div>
                    </div>
                </div>

                <h2>Metro en cifras</h2>
                <br>
                <p>El mapa del metro de Bogotá. El sistema está casi listo para la ciudad. 
                Conozca el mapa de las estaciones y por dónde pasará la primera fase de la obra.</p>

                <div class="contenedor-img-public">
                    <img src="img/mapa.png" alt="Mapa en cifras" class="img-publicitaria">
                </div>

                <h2>Noticias</h>

                <div class="noticias">
                    <div>
                        <img src="img/noticia-1.jpg" alt="noticia numero 1">
                        <h4>Consorcio Metro Línea 1 abre nueva oficina de atención al 
                        ciudadano en el tramo 4 de la Primera Línea del Metro de Bogotá</h4>
                        
                        <p>Este punto de atención está ubicado en la av. calle 1 No. 24B -55, en el barrio Santa Isabel - La Fraguita.</p>

                        <p class="fechas-not">21/11/2023</p>
                    </div>
                    
                    <div>
                        <img src="img/noticia-2.jpg" alt="noticia numero 2">
                        <h4>El Metro de Bogotá se une con Idartes y habilita espacios para fomentar el arte urbano entre los jóvenes</h4>
                        
                        <p>El colectivo Planeta Sur fue uno de los ganadores de la beca festival Rock al Parque 2023 - 
                        Bogotá ciudad creativa de la música.</p>

                        <p class="fechas-not">17/11/2023</p>
                        </div>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article class="footer-article">
                <article>
                    <p>EMPRESA METRO DE BOGOTÁ S.A. </p>
                    <p>Ciudad: Bogotá - Colombia</p>
                    <p>Código postal: 110221</p>
                    <p>Línea Anticorrupción: 195 Opción 1</p>
                    <p>Horario de atención: lunes a viernes 8:00am - 5:30pm</p>
                    <p><strong>Atención al Usuario</strong></p>
                </article>

                <article class="social">
                    <img src="img/boton-pagina-red-twt.png" alt="twiter">
                    <img src="img/boton-pagina-red-yt.png" alt="youtube">
                    <img src="img/icono-face.png" alt="facebook">
                    <img src="img/icono-instagram.png" alt="instagram">
                    <img src="img/logo-linkedin.png" alt="linkedin">
                </article>

                <article>
                    <img src="img/gov.png">
                </article>
                
            </article>

            <article class="copyright">
                <p>Terminos y condiciones</p>
                <p>Politicas de uso</p>
                <p>Copyright ©</p>
            </article>
        </section>
    </footer>
</body>
</html>