<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-rutas-metro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Metro Bogotá</title>
</head>

<body>
    <div class="banner-sup">
        <marquee direction="left"><h3>Alcaldia Mayor de Bogotá</h3></marquee>
    </div>

    <header>
        <section class="main-superior">
            <div class="logos">
                <img src="img/logo-1.png" class="logo" alt="Logo">
                <img src="img/logo-2.png" class="logo" alt="Logo">
            </div>

            <nav class="menu-sup">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="https://www.eltiempo.com/" target="_blank">Noticias</a></li>
                    <li><a href="https://www.computrabajo.com/" target="_blank">Trabaja con nosotros</a></li>
                </ul>
            </nav>

            <div>
                <form action="">
                    <input type="text" placeholder="Buscar" class="bar-buscar">
                </form>
            </div>

            <div>
                <img src="img/bogota.png" alt="logo-bogota">
            </div>
        </section>

        <div class="contenedor-banner">
            <img src="img/Banner.jpg" alt="Imagen publicitaria" class="banner">
        </div>
        
    </header>

    <main>
        <section class="contenedor-main">
            <article class="caja-izq">

                <p class="titulo-menu">VIAJA CON NOSOTROS</p>
            
                <a href="/descripcion-rutas">
                    <div>
                        <p>Descripción de rutas</p>
                    </div>
                </a>

                <hr>

                <a href="/rutas-metrocable">
                    <div>
                        <p>Rutas metrocables</p>
                    </div>
                </a>
    
                <hr>

                <a href="/rutas-metro">
                    <div>
                        <p>Rutas del metro</p>
                    </div>
                </a>

                <hr>

                <a href="/horarios">
                    <div>
                        <p>Horarios de las rutas</p>
                    </div>
                </a>

                <hr>
                
                <a href="/estaciones">
                    <div>
                        <p>Estaciones</p>
                    </div>
                </a>

                <hr>

                <a href="/mapa">
                    <div>
                        <p>Mapa del Sistema</p>
                    </div>
                </a>

                <hr>

                <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank">
                    <div>
                        <p>Quiénes somos</p>
                    </div>
                </a>

                <hr> 

            </article>

            <article class="caja-der">
                <div class="titulo">
                    <h2>Rutas del metro</h2>
                </div>
                
                <hr>

                <div class="modal">
                    <div class="linea-1">
                        <h3>Linea 1 <strong>Metro</strong></h3>
                    </div>

                    <div class="modale-contenedor">
                        <img src="/img/linea-1.jpg">
                    </div>

                    <div class="descripciones">
                        <table>
                            <tr>
                                <th>Identificador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Servicio</th>
                                <th>Horario</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Portal de las Américas</td>
                                <td>Calle 72</td>
                                <td>L-D</td>
                                <td>L-V: 5:00am - 11:00pm <br> 
                                S: 5:00am - 10:00pm <br>
                                D-F: 6:00am - 10:00pm</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal">
                    <div class="linea-2">
                        <h3>Linea 2 <strong>Metro</strong></h3>
                    </div>

                    <div class="modale-contenedor">
                        <img src="/img/linea-2.jpg">
                    </div>

                    <div class="descripciones">
                        <table>
                            <tr>
                                <th>Identificador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Servicio</th>
                                <th>Horario</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Calle 72</td>
                                <td>Fontanar del Río</td>
                                <td>L-S</td>
                                <td>L-V: 5:00am - 11:00pm <br> 
                                S: 5:00am - 10:00pm</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal">
                    <div class="linea-3">
                        <h3>Linea 3 <strong>Metro</strong></h3>
                    </div>

                    <div class="modale-contenedor">
                        <img src="/img/linea-3.jpg">
                    </div>

                    <div class="descripciones">
                        <table>
                            <tr>
                                <th>Identificador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Servicio</th>
                                <th>Horario</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Portal del Sur</td>
                                <td>Héroes</td>
                                <td>L-D</td>
                                <td>L-V: 5:00am - 11:00pm <br> 
                                S: 5:00am - 10:00pm <br>
                                D-F: 6:00am - 10:00pm</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article class="footer-article">
                <article>
                    <p>EMPRESA METRO DE BOGOTÁ S.A. </p>
                    <p>Ciudad: Bogotá - Colombia</p>
                    <p>Código postal: 110221</p>
                    <p>Línea Anticorrupción: 195 Opción 1</p>
                    <p>Horario de atención: lunes a viernes 8:00am - 5:30pm</p>
                    <p><strong>Atención al Usuario</strong></p>
                </article>

                <article class="social">
                    <img src="img/boton-pagina-red-twt.png" alt="twiter">
                    <img src="img/boton-pagina-red-yt.png" alt="youtube">
                    <img src="img/icono-face.png" alt="facebook">
                    <img src="img/icono-instagram.png" alt="instagram">
                    <img src="img/logo-linkedin.png" alt="linkedin">
                </article>

                <article>
                    <img src="img/gov.png">
                </article>
                
            </article>

            <article class="copyright">
                <p>Terminos y condiciones</p>
                <p>Politicas de uso</p>
                <p>Copyright ©</p>
            </article>
        </section>
    </footer>

    <script src="/scripts/rutas-metro.js"></script>
</body>
</html>