<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-rutas-metro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo-1.ico">
    <title>Metro Bogotá</title>
</head>

<body>
    <div class="banner-sup">
        <marquee direction="left"><h3>Alcaldia Mayor de Bogotá</h3></marquee>
    </div>

    <header>
        <section class="main-superior">
            <div class="logos">
                <img src="img/logo-1.webp" class="logo-1" alt="Logo">
                <img src="img/logo-2.webp" class="logo-2" alt="Logo">
            </div>

            <nav class="menu-sup">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="https://www.eltiempo.com/" target="_blank">Noticias</a></li>
                    <li><a href="https://www.computrabajo.com/" target="_blank">Trabaja con nosotros</a></li>
                </ul>
            </nav>

            <div>
                <form action="">
                    <input type="search" placeholder="Buscar" name="Buscar" id="Buscar" class="bar-buscar">
                </form>
            </div>

            <div class="logo-bogota">
                <img src="img/bogota.webp" alt="logo-bogota">
            </div>
        </section>

        <div class="contenedor-banner">
            <div class="slider-box">
                <ul>
                    <li><img src="img/banner-4.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-5.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-6.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/Banner.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-2.webp" alt="Imagen publicitaria" class="banner"></li>
                    <li><img src="img/banner-3.webp" alt="Imagen publicitaria" class="banner"></li>
                </ul>
            </div>
        </div>
        
    </header>

    <main>
        <section class="contenedor-main">
            <article class="caja-izq">

                <p class="titulo-menu">VIAJA CON NOSOTROS</p>
            
                <a href="/descripcion-rutas">
                    <div>
                        <p>Descripción de rutas</p>
                    </div>
                </a>

                <hr>

                <a href="/rutas-metrocable">
                    <div>
                        <p>Rutas metrocables</p>
                    </div>
                </a>
    
                <hr>

                <a href="/rutas-metro">
                    <div>
                        <p>Rutas del metro</p>
                    </div>
                </a>

                <hr>

                <a href="/horarios">
                    <div>
                        <p>Horarios de las rutas</p>
                    </div>
                </a>

                <hr>
                
                <a href="/estaciones">
                    <div>
                        <p>Estaciones</p>
                    </div>
                </a>

                <hr>

                <a href="/mapa">
                    <div>
                        <p>Mapa del Sistema</p>
                    </div>
                </a>

                <hr>

                <a href="https://www.linkedin.com/in/steven-navarro-parrales/" target="_blank">
                    <div>
                        <p>Quiénes somos</p>
                    </div>
                </a>

                <hr> 

            </article>

            <article class="caja-der">
                <div class="titulo">
                    <h2>Rutas del metro</h2>
                </div>
                
                <hr>

                <br><p>A continuación se muestra información sobre las rutas del metro, para mas información hacer click sobre las rutas.</p>

                <div class="modal">
                    <div class="linea-1">
                        <h3>Linea 1 <strong>Metro</strong></h3>
                    </div>

                    <div class="modale-contenedor">
                        <img src="/img/linea-1.webp">
                    </div>

                    <div class="descripciones">
                        <table>
                            <tr>
                                <th>Identificador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th class="servicio">Servicio</th>
                                <th>Horario</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Portal de las Américas</td>
                                <td>Calle 72</td>
                                <td class="servicio">L-D</td>
                                <td>L-V: 5:00am - 11:00pm <br> 
                                S: 5:00am - 10:00pm <br>
                                D-F: 6:00am - 10:00pm</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal">
                    <div class="linea-2">
                        <h3>Linea 2 <strong>Metro</strong></h3>
                    </div>

                    <div class="modale-contenedor">
                        <img src="/img/linea-2.webp">
                    </div>

                    <div class="descripciones">
                        <table>
                            <tr>
                                <th>Identificador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th class="servicio">Servicio</th>
                                <th>Horario</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Calle 72</td>
                                <td>Fontanar del Río</td>
                                <td class="servicio">L-S</td>
                                <td>L-V: 5:00am - 11:00pm <br> 
                                S: 5:00am - 10:00pm</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal">
                    <div class="linea-3">
                        <h3>Linea 3 <strong>Metro</strong></h3>
                    </div>

                    <div class="modale-contenedor">
                        <img src="/img/linea-3.webp">
                    </div>

                    <div class="descripciones">
                        <table>
                            <tr>
                                <th>Identificador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th class="servicio">Servicio</th>
                                <th>Horario</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Portal del Sur</td>
                                <td>Héroes</td>
                                <td class="servicio">L-D</td>
                                <td>L-V: 5:00am - 11:00pm <br> 
                                S: 5:00am - 10:00pm <br>
                                D-F: 6:00am - 10:00pm</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article class="footer-article">
                <article class="texto-footer">
                    <p>METRO DE BOGOTÁ</p>
                    <p>Ciudad: Bogotá - Colombia</p>
                    <p>Código postal: 110221</p>
                    <p>Línea Anticorrupción: 195 Opción 1</p>
                    <p>Horario de atención: lunes a viernes 8:00am - 5:30pm</p>
                    <p><strong>Atención al Usuario</strong></p>
                </article>

                <article class="social">
                    <div class="social-div">
                        <a href="https://twitter.com/" target="_blank"><img src="img/boton-pagina-red-twt.webp" alt="twiter"></a>
                        <a href="https://youtube.com/" target="_blank"><img src="img/boton-pagina-red-yt.webp" alt="youtube"></a>
                        <a href="https://facebook.com/" target="_blank"><img src="img/icono-face.webp" alt="facebook"></a>
                        <a href="https://instagram.com/" target="_blank"><img src="img/icono-instagram.webp" alt="instagram"></a>
                        <a href="https://linkedin.com/" target="_blank"><img src="img/logo-linkedin.webp" alt="linkedin"></a>
                    </div>
                </article>

                <article class="img-gov">
                    <img src="img/gov.webp">
                </article>
                
            </article>

            <article class="copyright">
                <p>Terminos y condiciones</p>
                <p>Politicas de uso</p>
                <p>Copyright ©</p>
            </article>
        </section>
    </footer>

    <script src="/scripts/rutas-metro.js"></script>
</body>
</html>